<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>
</head>

<body>
<div class="container-sm">
    <div class="card mt-5">
        <div th:if="${errorMessage}" class="error">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="card-body">
            <div class="card-title text-center h4">Create Account</div>
            <div class="text-center small mb-3 text-muted">Get Started with your account</div>

            <form th:action="@{/register}" method="POST" th:object="${userInsertDTO}" enctype="multipart/form-data">
                <!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <div class="input-group form-group w-50 mx-auto mb-3 col-xl-4 col-lg-5">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    <input class="form-control" type="text" placeholder="Username" th:field="*{username}" th:classappend="${#fields.hasErrors('username')} ? 'error'" >
                </div>
                <div class="input-group w-50 mx-auto mb-3 col-xl-4 col-lg-5">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <input class="form-control" type="password" placeholder="Password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'error'" >
                </div>
                <input name="_csrf" type="hidden" value="6829b1ae-0a14-4920-aac4-5abbd7eeb9ee" />
                <div class="d-flex justify-content-center mb-4">
                    <button type="submit" class="btn btn-dark">Create Account</button>
                </div>
            </form>
            <div class="text-center">
                <span>Have an account?</span>
                <a id="registerLink" href="" class="text-decoration-none">Log in</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/register.js"></script>
</body>

</html>